body {
 background:#CCCCCC;
}
#banner { 
  width: 100%;
}
h1 {text-align: center
}

p {
  text-align: center;
}


text-align: center;

}

#missao { font-size: 20px
}
em strong { 
  color: #FF0000;
}
.itens{font-style:font-size:25px;}
.beneficios{background:#FFFFFF;padding:20px;}
.principal{background:#CCCCCC;padding;30px;}
h2{text-align:center;}
.imagembeneficios{widht:60%;}
ul{display:inline-block;vertical-align:top;}
